.nav {
  background-color: #2B2D42 !important;
}

.nav-logo {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.nav-logo:hover {
    color: #ff8120;
}

.links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-nav a {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.2s all linear;
    text-align: center;
    font-size: 16px;
}

.navbar-nav a:hover {
    border-bottom : 2px solid #ff8120;
}

.navbar {
    padding: 10px 20px;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
  }

  .navbar-light .navbar-toggler {
      border-color: transparent;
  }

  .navbar-toggler:focus {
      box-shadow: none;
  }

  .navbar-collapse {
      flex-grow: unset;
  }

  .navbar-nav a {
    margin-left: 40px;
    margin-top: 10px;
  }

  .navbar-toggler-icon i {
      color: white;
      font-size: 24px;
  }

@media (max-width:991.8px) {
    .navbar-nav a {
        margin-left: 0;
    }
}